[submodule "public/s/css/pkgs/yui-app-theme"]
	path = public/s/css/pkgs/yui-app-theme
	url = git@github.com:docunext/yui-app-theme.git
[submodule "public/s/img/pkgs/docunext-webapp-icons"]
	path = public/s/img/pkgs/docunext-webapp-icons
	url = git://github.com/docunext/docunext-webapp-icons.git
[submodule "public/s/js/pkgs/tablesorter"]
	path = public/s/js/pkgs/tablesorter
	url = git://github.com/docunext/tablesorter.git
[submodule "public/s/js/pkgs/jquery-tablesorter-app-theme"]
	path = public/s/js/pkgs/jquery-tablesorter-app-theme
	url = http://github.com/docunext/jquery-tablesorter-app-theme.git
[submodule "public/s/js/pkgs/jquery.autocomplete"]
	path = public/s/js/pkgs/jquery.autocomplete
	url = http://github.com/docunext/jquery.autocomplete.bassistance.git
