-if collection
  %table.table{:id => "entries-table"}
    %thead
      %tr
        %th.first ID
        %th Memo
        %th Date
        %th.last Amount
    %tbody
      -collection.each do |e|
        %tr
          %td.first= e.id
          %td= link_to e.memo, entry_path(e)
          %td= e.date.to_s
          %td.last= e.amount
