=f.hidden_field :type
-if resource.type == 'Check'
  .number
    =f.label :number
    =f.text_field :number
%div.datefield
  =f.label :date
  =f.text_field :date, :class => "calendar_select", :value => Date.today
-unless resource.type == 'Check'
  =f.label :memo
  =f.text_field :memo
-@credits.each do |credit|
  =f.fields_for :credits, credit do |entry_form|
    =entry_form.label :account_id
    =entry_form.select :account_id, accounts_select_for(@credit_accounts)
    .amount_container
      =entry_form.label :amount_in_cents, "Amount"
      =entry_form.text_field :amount_in_cents, :class => 'amount_field'
-if resource.type == 'Check'
  %br
  %p.payee
    =f.fields_for :proxies, @proxy_transaction do |x|
      =x.select :account_id, accounts_select_for(@company_accounts)
      Pay to the Order Of
  %br
  =f.label :memo
  =f.text_field :memo, :class => 'memo'
%hr
-@debits.each do |debit|
  =f.fields_for :debits, debit do |entry_form|
    =entry_form.label :account_id
    =entry_form.select :account_id, accounts_select_for(@debit_accounts)
    =entry_form.label :amount_in_cents, "Amount"
    =entry_form.text_field :amount_in_cents
%r
=f.submit
