=f.label :memo
=f.text_field :memo
%br
=f.fields_for :credits, @credits do |entry_form|
  =entry_form.label :account_id
  =entry_form.select :account_id, accounts_select
  =entry_form.label :amount_in_cents, "Amount"
  =entry_form.text_field :amount_in_cents
%r
=f.submit
