=f.label :memo
=f.text_field :memo
=f.hidden_field :type
%br
-@credits.each do |credit|
  =f.fields_for :credits, credit do |entry_form|
    =entry_form.label :account_id
    =entry_form.select :account_id, accounts_select_for(@credit_accounts)
    =entry_form.label :amount_in_cents, "Amount"
    =entry_form.text_field :amount_in_cents
-@debits.each do |debit|
  =f.fields_for :debits, debit do |entry_form|
    =entry_form.label :account_id
    =entry_form.select :account_id, accounts_select_for(@debit_accounts)
    =entry_form.label :amount_in_cents, "Amount"
    =entry_form.text_field :amount_in_cents
%r
=f.submit
