.block
  %h3 Bank-Accounts
  %ul.navigation
    -Account.each_with_level(BankAccount.first.descendants) do |acc, level|
      %li
        = link_to raw('&#160;&#183;&#160;&#160;') * level + acc.name, account_path(acc)
.block
  %h3 Links
  %ul.navigation
    %li= link_to "Add New Vendor", new_vendor_path
    %li= link_to "Add New Expense", new_expense_path
