#bd {
  min-height: 600px; }

#accounts-table tbody, #entries-table tbody {
  background-color: #eeeeee; }
  #accounts-table tbody a, #entries-table tbody a {
    padding: 2px; }
  #accounts-table tbody a:hover, #entries-table tbody a:hover {
    color: red; }

#accounts-table, #entries-table tbody a {
  padding: 2px; }

.accounts tbody td {
  padding: 0; }

.lft-text {
  display: block; }

.not-rgt-icon {
  display: none;
  float: right; }

.biglist img {
  float: left;
  margin-right: 2px; }

#accounts-table, #entries-table td:hover {
  background: url("../s/img/pkgs/docunext-webapp-icons/tango/edit-find.png") no-repeat 98%;
  cursor: pointer;
  background-color: #dddddd; }

#accounts-table td, #accounts-table th, #entries-table td, #entries-table th {
  border: 1px solid black; }

#entries-table td:nth-child(1):hover {
  background: url("../s/img/pkgs/docunext-webapp-icons/style/icon_info_sml.gif") no-repeat 98%; }

#entries-table td:nth-child(2):hover {
  background: url("../s/img/pkgs/docunext-webapp-icons/eclipse/write_obj.gif") no-repeat 98%; }

#entries-table td:nth-child(3) {
  text-align: right; }

#entries-table td:nth-child(3):hover {
  background: url("../s/img/pkgs/docunext-webapp-icons/tango/edit-find.png") no-repeat 2%; }

.check {
  border: 1px solid #555555;
  padding: 1em !important; }
  .check .datefield {
    float: right; }
    .check .datefield #entry_date {
      width: 12em; }
  .check .number {
    float: right; }
    .check .number input {
      width: 8em; }
  .check .memo {
    width: 36em; }
  .check select {
    width: 20em; }
  .check .amount_container {
    float: right; }
    .check .amount_container .amount_field {
      width: 12em; }
  .check .payee {
    width: 30em; }
    .check .payee select, .check .payee input {
      float: right; }

table thead img {
  vertical-align: bottom;
  margin-left: 5px; }

#sb-new-entry {
  padding-left: 20px;
  display: block;
  background-image: url("../s/img/pkgs/docunext-webapp-icons/tango/text-x-generic.png") no-repeat position 0 50%; }

#sb-new-account {
  padding-left: 20px;
  display: block;
  background-image: url("../s/img/pkgs/docunext-webapp-icons/tango/system-file-manager.png") no-repeat position 0 50%; }

#pager-next {
  padding-right: 20px;
  background-image: url("../s/img/pkgs/docunext-webapp-icons/famfamfam/mini/arrow_right.gif") no-repeat position 98% 60%; }

.remove-debit {
  display: none; }

.remove-credit {
  display: none; }

#table-pager table {
  margin-left: auto;
  margin-right: auto; }

.pager table {
  width: 20%;
  text-align: center; }

.pager span {
  cursor: pointer;
  font-size: 160%;
  border: 1px solid black;
  padding: 0.1em 0.2em 0.2em 0.2em; }

.pager span:hover {
  background-color: black;
  color: white; }

.pager td {
  padding: 0.25em;
  text-align: center; }

.pager input {
  margin-top: 0.21em;
  display: block;
  border: 0;
  font-size: 140%;
  text-align: center; }

dl {
  margin: 1.2em; }

dt, dd {
  border-top: 1px dotted white;
  padding: 1.2em 0;
  width: 170px;
  float: left;
  clear: left; }

dd {
  width: 280px;
  clear: right; }

.form-controls {
  margin: 0;
  text-align: center; }

.form-meta-controls {
  margin: 0;
  float: right; }

.form-meta-controls .button {
  font-weight: normal !important; }

.level0 {
  font-weight: bold; }

.r {
  float: right; }

.subtitle {
  margin: 0.65em 1em 0 0;
  font-size: 1.25em; }

.white {
  color: white; }

#account-form {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

#account-form th {
  width: 150px; }

#account-form input[type=text] {
  width: 50%; }

form td div, form li {
  line-height: 1.5;
  margin-bottom: 1.5em;
  position: relative;
  border: 0 !important; }

form td div {
  padding: 0;
  display: inline; }

form label.overlayed {
  white-space: nowrap;
  position: absolute;
  top: 0.05em;
  left: 0.5em;
  color: #999999;
  font-weight: normal; }

form li label.overlayed {
  top: 0.15em; }

.hint {
  color: #999999; }

option.realoption {
  color: black; }

.rd-amt {
  text-align: right; }

#bd {
  background: #cccccc; }

#navigation {
  background: url(../s/img/sc-theme-repeat-x.png) repeat-x 0% -573px; }

#primary-navigation .active a {
  background: url(../s/img/sc-theme-repeat-x.png) repeat-x 0% -64px; }

.err {
  padding: 1em;
  background-color: white; }
