#bd
  :min-height 600px
  
  
#accounts-table tbody
  a
    :padding 5px
  a:hover
    :color red

#accounts-table tbody a
  :padding 5px

.accounts tbody td
  :padding 0

.lft-text
  :display block

.not-rgt-icon
  :display none
  :float right

.biglist img
  :float left 
  :margin-right 2px

#accounts-table td:nth-child(1):hover
  :background url('./s/img/pkgs/docunext-webapp-icons/style/icon_info_sml.gif') no-repeat 98%

#accounts-table td:nth-child(2):hover
  :background url('./s/img/pkgs/docunext-webapp-icons/eclipse/write_obj.gif') no-repeat 98%


#accounts-table td:nth-child(3)
  :text-align right

#accounts-table td:nth-child(3):hover
  :background url('./s/img/pkgs/docunext-webapp-icons/tango/edit-find.png') no-repeat 2%

#accounts-table td,#accounts-table th
  :border 1px solid #000

  
table
  thead
    img
      :vertical-align bottom
      :margin-left 5px

=sidebar-item( !img, !x = 0, !y = 50% )
  :padding-left 20px
  :display block
  :background
    :image= url(!img)
    :repeat no-repeat
    :position= !x !y

#sb-new-entry
  +sidebar-item("./s/img/pkgs/docunext-webapp-icons/tango/text-x-generic.png")
  
#sb-new-account
  +sidebar-item("./s/img/pkgs/docunext-webapp-icons/tango/system-file-manager.png")
  
#pager-next
  :padding-right 20px
  :background
    :image= url("./s/img/pkgs/docunext-webapp-icons/famfamfam/mini/arrow_right.gif")
    :repeat no-repeat
    :position= 98% 60%

.remove-debit
  :display none
  
.remove-credit
  :display none

  
#table-pager table
  :margin-left auto
  :margin-right auto

.pager table
  :width 210px
  :text-align center
  
.pager img
  :cursor pointer
  :font-size 250%
  
.pager td
  :padding .2em 1em
  :text-align center
  
.pager input
  :margin-top .21em
  :display block
  :border 0
  :font-size 140%
  :text-align center


dt, dd
  :border-top 1px dotted #ffffff
  :padding 1.2em 0
  :width 170px
  :float left
  :clear left

dd
  :clear right

.form-controls
  :margin 0
  :text-align center

.form-meta-controls
  :margin 0
  :float right

.form-meta-controls .button
  :font-weight normal !important
  
#account-form
  :width 80%
  :margin-left auto
  :margin-right auto

#account-form th
  :width 150px

#account-form input[type=text]
  :width 50%

form td div, form li
  :line-height 1.5
  :margin-bottom 1.5em
  :position relative
  :border 0 !important

form td div
  :padding 0
  :display inline

form label.overlayed
  :white-space nowrap
  :position absolute
  :top .05em
  :left .5em
  :color #999
  :font-weight normal

form li label.overlayed
  :top .15em

.hint
  :color #999

option.realoption
  :color #000
