#bd
  :min-height 600px
  
  
#accounts-table tbody
  a
    :padding 5px
  a:hover
    :color red

#accounts-table tbody a
  :padding 5px

.accounts tbody td
  :padding 0

.lft-text
  :display block

.not-rgt-icon
  :display none
  :float right

.biglist img
  :float left 
  :margin-right 2px

#accounts-table td:nth-child(1):hover
  :background url('./s/img/pkgs/docunext-webapp-icons/style/icon_info_sml.gif') no-repeat 98%

#accounts-table td:nth-child(2):hover
  :background url('./s/img/pkgs/docunext-webapp-icons/eclipse/write_obj.gif') no-repeat 98%


#accounts-table td:nth-child(3)
  :text-align right

#accounts-table td:nth-child(3):hover
  :background url('./s/img/pkgs/docunext-webapp-icons/tango/edit-find.png') no-repeat 2%
  


#accounts-table td,#accounts-table th
  :border 1px solid #000

  
table
  thead
    img
      :vertical-align bottom
      :margin-left 5px
