<div class="snippet">
  <form action="/new/account" method="POST">
    <textarea name="account_name" id="account_name" rows="20"></textarea>
    <br/><input type="submit" value="Save"/>
  </form>
</div>
