<form action="/new/<%= @object_type %>" method="POST">
    <input type="hidden" name="object_type" value="<%= @object_type %>"/>
    <input type="text" name="memorandum" />
    <input type="text" name="credit"  />
    <input type="text" name="debit"  />
    <br/><input type="submit" value="Save"/>
</form>
