%head
  %link{:href => "/s/web-app-theme/base.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "/s/web-app-theme/themes/red/style.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "/s/regdel.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %script{:src => "/s/application.js", :type => "text/javascript"}
  = csrf_meta_tag
