=f.label :name
=f.text_field :name
=f.label :type
=f.select :type, Account.account_types
=f.label :parent_id, "Sub-account of:"
=f.select :parent_id, accounts_select_for, :selected => resource.parent_id, :include_blank => true
-if resource.is_a?(BankAccount)
  -resource.class::ATTRIBUTES.each do |attr|
    =f.fields_for :attrs do |attr_form|
      =attr_form.label attr[0], attr[1]
      -if resource.attrs.is_a?(Array)
        =attr_form.text_field attr[0], :value => resource.attrs[attr[0]]
      -else
        =attr_form.text_field attr[0]
-unless resource.new_record?
  =f.check_box  :inactive
  =f.label :inactive, "This account is disabled."
=f.submit
