=f.label :name
=f.text_field :name
-if resource.new_record?
  =f.label :type
  =f.select :type, Account.account_types, :selected => resource.class.name.pluralize
  =f.label :parent_id, "Sub-account of:"
  =f.select :parent_id, accounts_select_for, :selected => resource.parent_id, :include_blank => true
-else
  =f.hidden_field :type
  =f.label :parent_id, "Sub-account of:"
  =f.select :parent_id, accounts_select_for(resource.self_and_ancestors.reject{|x| x.parent_id.nil?}.first.self_and_descendants.reject{|z| z.id == resource.id}), :selected => resource.parent_id
-if resource.is_a?(BankAccount)
  -resource.class::ATTRIBUTES.each do |attr|
    =f.fields_for :attrs do |attr_form|
      =attr_form.label attr[0], attr[1]
      -if resource.attrs.is_a?(Array)
        =attr_form.text_field attr[0], :value => resource.attrs[attr[0]]
      -else
        =attr_form.text_field attr[0]
-unless resource.new_record?
  =f.check_box  :inactive
  =f.label :inactive, "This account is disabled."
-if resource.is_a?(Company)
  -resource.emails.each do |email|
    =f.fields_for :emails, email do |email_fields|
      =email_fields.label :address
      =email_fields.text_field :address
=f.submit
