=f.label :name
=f.text_field :name
=f.label :type
=f.select :type, Account::ACCOUNT_TYPES
=f.label :parent_id, "Sub-account of:"
=f.select :parent_id, accounts_select, :selected => params[:id]
%br
=f.submit
