.block
  .content
    %h2.title= resource_class.to_s.titleize.pluralize
    .inner
      -cache "accounts_table", :expires => 3.hours do
        %table.table
          %thead
            %tr
              %th.first{:colspan  => Account.levels_of_sub_accounts + 1 } Name
              %th.last Balance
          %tbody
            -Account.each_with_level(resource_class.first.descendants.reject{|x| x.inactive == true}) do |acc, level|
              %tr{:class => "sub-account-of-#{acc.parent_id} #{cycle('odd','even')}"}
                -level.times do
                  %td{:style => "width: 1em;"}
                %td{:colspan => acc.height(level)}=link_to acc.name, account_path(acc)
                %td.last=acc.current_balance
      .actions-bar.wat-cf
        .actions
          =link_to "New", new_resource_path
