%h2 Accounts
%table{:style => "border: 1px;", :class => "tablesorter"}
  -Account.each_with_level(Account.root.descendants) do |acc, level|
    %tr{:class => "sub-account-of-#{acc.parent_id}"}
      -level.times do
        %td{:style => "width: 1em;"}
      %td{:colspan => acc.height(level)}=link_to acc.name
      %td=acc.current_balance

=link_to "New", new_resource_path
