.block
  .content
    .inner
      %h2= "New #{resource_class.name}"
      =form_for resource.as_base, :html => { :class => :form } do |f|
        =render :partial => 'form', :locals => {:account => resource, :f => f}
- content_for :sidebar, render(:partial => 'sidebar')
