%h2= @account.name

%h3= @account.account_name

-if @sub_accounts
  %ul
  -@sub_accounts.each do |sub|
    %li= account_link_for(sub)

- @account.entries.each do |e|
  %p= link_to e.memo, entry_path(e)
